<h1>VieewDataPage</h1>

<table border="1" cellpadding="5">
    <% for (var ad of adminData){ %>
        <tr>
            <td>
                <%= ad.username %>
            </td>
            <td>
                <%= ad.email %>
            </td>
            <td>
                <%= ad.password %>
            </td>
            <td>
                <%= ad.birthdate %>
            </td>
            <td>
                <%= ad.city %>
            </td>
            <td>
                <%= ad.hobby %>
            </td>
            <td>
                <%= ad.gender %>
            </td>
            <td>
                <%= ad.createdAt %>
            </td>
            <td>
                <a href="/delete/<%= ad._id %>">Delete</a> || 
                <a href="/Update/<%= ad._id %>">Update</a>  
            </td>
        </tr>
        <% }%>
</table>